<h1><%= "Welcome  #{current_user.email}"%></h1>

<br></br>

<table>
 <% @posts.each do |post| %>
   <% post.each do |obj|%>
    <% if (current_user.following?(current_user.id, obj.user_id) == true) %>
    <tr><td><%= obj.content %></td></tr>
    <% end %>
   <% end %>
 <% end %>
</table>


